# Flask secret key
FLASK_SECRET_KEY='change-me'


# Max request size (bytes)
MAX_CONTENT_LENGTH=224288000   # 200 MB

# Per-file limit (bytes)
PER_FILE_MAX_BYTES=10485760    # 10 MB

# Max number of files per upload
MAX_FILES_PER_UPLOAD=50

# Direct Uploads Configuration
DIRECT_UPLOAD_DIR=files/direct_uploads
DIRECT_UPLOAD_MAX_FILES=100
DIRECT_UPLOAD_MAX_FILE_SIZE_MB=5
DIRECT_UPLOAD_ALLOWED_MIMETYPES="image/jpeg,image/png"

# Worker threads for background jobs
WORKERS=4

# Database URL (if you want to override SQLite default in models.py)
DATABASE_URL=sqlite:///zip_processing.db

# for POST GRES 
# DATABASE_URL=postgresql+psycopg2://user:password@localhost:5432/mydb


# Directories
UPLOAD_DIR=files/uploaded
IMAGE_DIR=files/images
PDF_DIR=files/pdfs
PROCESSED_DIR=files/processed
PROCESSING_ERROR_DIR=files/processing_error

# Split PDF directories
DR_PDF_DIR=files/dr_pdfs
GLAUCOMA_PDF_DIR=files/glaucoma_pdfs

# Log files
ZIP_INGEST_LOG=logs/zip_main_process_log.txt
SUCCESS_LOG=logs/process_pdf_success_log.txt
ERROR_LOG=logs/process_pdf_error_log.txt

# FLASK logs
HTTP_SUCCESS_LOG=logs/http_success.log
HTTP_ERROR_LOG=logs/http_error.log

# FLASK Static cache age (seconds)
STATIC_MAX_AGE=5
ASSETS_VERSION=v1.0.15

# Pagination settings
UPLOADED_RESULTS_PAGE_SIZE=25
SCREENINGS_PAGE_SIZE=50